<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>CampionatoCalcio</display-name>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>SquadraServlet</servlet-name>
        <servlet-class>servlet.SquadraServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SquadraServlet</servlet-name>
        <url-pattern>/SquadraServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PartitaServlet</servlet-name>
        <servlet-class>servlet.PartitaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PartitaServlet</servlet-name>
        <url-pattern>/PartitaServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RisultatoServlet</servlet-name>
        <servlet-class>servlet.RisultatoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RisultatoServlet</servlet-name>
        <url-pattern>/RisultatoServlet</url-pattern>
    </servlet-mapping>
</web-app>
